html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
  margin: 0;
}

.box .row.content {
  flex: 1 1 auto;
  margin: 0;
}

.box .row.footer {
  flex: 0 1 40px;
}

h1 {
    margin: 0;
    padding: 12px;
    text-align: center;
}

.palpatine {
    background-color: #913b7e;
    border-top: solid 1px black;
    border-collapse: collapse;
}

#background-image {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.btn {
  font-weight: 500;
  font-size: 2.5rem;
  height: 100%;
  width: 100%;
  color: #212529;
  border: 0;
  border-radius: 0;
}
